@import "src/styles/variables";
.header{
  margin-bottom: 40px;
  .content{
    width: 100vw;
    margin-top: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    top: 0;
  }
  .headerBg{
    z-index: -1;
  }
  .logo{
    max-width: 150px;
  }
 .headerContent{
   display: flex;
   align-items: center;
   .logoBurger {
     max-height: 326px;
   }
  .tagline{
    font-size: 50px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    & > span:first-child {
      color: $white;
    }
    & >span:nth-child(2){
      color: $accent3;
    }
  }
   .delivery{
     color:$white;
     font-weight: 600;
     font-size: 16px;
   }
 }
}

.mainContainer{
  width: 90vw;
  margin: auto;
  .mealSelector{
    display: flex;
    justify-content: space-between;
  }
}